<p>
<div class="muted"><h3><i>"Your personal event calendar will help you to organize your time and manage your daily events"</i></h3></div>
</p>
<p><br>
<div class="text-info text-center"><h3>Try out, it is free app!</h3></div>
</p>

<%=link_to "Calendar", calendar_path%>

