<h2>New event</h2>

<%= form_for(@event, html: {remote: true})  do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= render 'fields', fields: f %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
