<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) && !name.to_s.include?("some_field_error")%>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>